.modal-form {
  display: flex;
  flex-direction: column;

  &-title {
    @include fontvar(700, 20px, 1.15, 0.03em);
    color: #212121;
    margin-bottom: 12px;
    text-align: center;
  }

  &-field {
    @include fontvar(400, 12px, 1.167, 0.01em);
    color: #757575;
    margin-bottom: 10px;

    &-wrapper {
      position: relative;
      margin-top: 4px;
      display: block;
    }
  }
  &-comments-field {
    @include fontvar(400, 12px, 1.167, 0.01em);
    color: #757575;
    margin-bottom: 4px;
  }

  &-input {
    display: block;
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
    cursor: pointer;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &-message {
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 12px 16px;
    margin-bottom: 20px;
    resize: none;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &::placeholder {
      font-weight: 400;
      font-size: 12px;
      color: rgba(117, 117, 117, 0.5);
    }
  }

  &-svg {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
  }

  &-policy-label {
    display: inline-flex;
    align-items: flex-start;
    text-align: left;
    @include fontvar(400, 12px, 1.167, 0.03em);
    color: #757575;
    margin-bottom: 40px;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width: 1200px) {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      @include fontvar(400, 14px, 1.714, 0.03em);
      text-align: center;
      padding-left: 12px;
      margin-bottom: 30px;
    }

    &::before {
      display: inline-block;
      content: "";
      width: 16px;
      height: 15px;
      background-image: url("../images/checkbox-empty.svg");
      background-color: #fff;
      margin-right: 8px;
    }
  }

  &-btn {
    @include fontvar(700, 16px, 1.875, 0.06em);
    color: #ffffff;
    padding: 10px 56px;
    width: 200px;
    height: 50px;
    margin: 0 auto;
    background: #2196f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    outline: none;
    cursor: pointer;
  }

  &-input:focus,
  &-message:focus {
    outline: none;
    border: 1px solid #2196f3;
  }

  &-policy:checked + &-policy-label::before {
    background-image: url("../images/icon\ checked.svg");
    border-radius: 2px;
    background-color: #2196f3;
    background-size: cover;
    background-repeat: no-repeat;
  }
  &-input:focus + &-svg {
    fill: #2196f3;
  }
}

.modal-form-policy-label a {
  text-decoration-line: underline;
  color: #2196f3;
}
